<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783428317841-75j5j7rhmsea1jg95dg5g5or4bd06mkb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783428317841-75j5j7rhmsea1jg95dg5g5or4bd06mkb</string>
	<key>API_KEY</key>
	<string>AIzaSyAc4HOphOcZ7_gSZijvG0TvQuAtzDEGLWw</string>
	<key>GCM_SENDER_ID</key>
	<string>783428317841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.losyetis.Treaty</string>
	<key>PROJECT_ID</key>
	<string>losyetis-a87c1</string>
	<key>STORAGE_BUCKET</key>
	<string>losyetis-a87c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783428317841:ios:69c159de9e892042150530</string>
</dict>
</plist>